fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
redis
requests
python-dotenv
openai
azure-identity
azure-storage-blob
azure-ai-translation-document
psycopg2-binary
pydantic-settings